body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #273244;
}

@font-face {
  font-family: 'OpenSans600';
  src: url(/public/OpenSans/OpenSans-SemiBold.ttf) format('truetype');
  font-weight: 600;
}

.OpenSansfont{
  font-family: 'OpenSans600';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
